<center>
  <div>
    <h3>
      <a href="https://lwflouisa.github.io/BushidoSatanismCaste/about.html">About</a> |
      <a href="https://www.pinterest.com/lwflouisa0808/sumi-sketching/">Art Style</a> |
      <a href="https://lwflouisa.github.io/BushidoSatanismCaste/audiobook.html">Audiobook</a> |
      <a href="https://matrix.to/#/!sppGxICEzfVoTYZtdu:matrix.org?via=matrix.org">Chatroom</a> |
      <a href="https://lwflouisa.github.io/BushidoSatanismCaste/conlang.html">Conlang</a> |
      <a href="https://lwflouisa.github.io/BushidoSatanismCaste/episodes.html">Episodes</a> |
      <a href="https://www.pinterest.com/lwflouisa0808/">Pinterest</a> |
      <a href="https://video.ploud.jp/c/mytalkshow/videos?languageOneOf=en&s=2">Peertube</a> |
      <a href="https://lwflouisa.github.io/PodbeanTranscripts/">Transcripts</a>
    </h3>
  </div>
</center>
